@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
    background: none;
    margin: 0;
  }
}
